a{
  transition: 10s;
}

/*map*/
.country {
    stroke: #fff;
    stroke-width:1px;
}
.country:hover{
  opacity: .6;
}

/* All the snapping stuff */
.scroll-container {
height: 100vh;
overflow-y: scroll;
scroll-snap-type: y mandatory;
}

section {
scroll-snap-align: start;
height: 110vh;
/* padding: 50px; */
}

.intro{
  height: 630px;
  text-align: center;
  padding: 40px;
  background-color: #F2F2F2;
  margin-bottom: 50px;
}

.line-bar{
  margin-top:10px;
}

img{
  padding: 0;
}

.descript{
  color: black;
  font-family: "Andale Mono", AndaleMono, monospace; font-size: 18px;
}

a{
  color:#81BEF7;
  text-decoration: none;
}

h4{
  font-family: "Andale Mono", AndaleMono, monospace; font-size: 20pt;
  font-weight: bolder;
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
  font-family: "Andale Mono", AndaleMono, monospace;
  text-shadow: 2px 2px 2px #ccc;
  font-size: 55pt;
  font-weight: bolder;
  color: #81BEF7;
  line-height: 30px;
}

h2 {
  text-align: center;
  font-family: "Andale Mono", AndaleMono, monospace;
  margin-top: 10px;
  background-color: #81BEF7;
  padding: 15px;
  font-size: 25pt;
}

p {
  font-family: "Andale Mono", AndaleMono, monospace; font-size: 12pt;
  font-size: 14pt;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  color:black;
;
}

#data-source{
  position: absolute;
  width: 100px;
  background-color: #81BEF7;
  padding: 6px;
  font-size: 10pt;
  bottom: 0;
  left:0;
  color:black;
}

#dataSourceLink{
  color:grey;
}

.world-map{
  background-color: rbg(194, 207, 200);
}

.spider{
  margin-left: 300px;
}

.line-bar{
  height: 160vh;
}

body{
  background-color: #F2F2F2;
}

h3,#vis{
  margin-left: 120px;
}

select{
  font-size: 12pt;
  width:300px;
  height:40px;
}

.row{
  display:table;
  margin-left: 35px;
}

.column{
  float:left;
}

#columnChart{
  width:70%;
  margin-left: 50px;
  margin-top:18px;
}

.line{
  margin-top:30px;
}

.bar{
  margin-left:100px;
}

#columnInstr{
  width:25%;
}


#selectIntruction,#lineChartIntruction{
    background-color:#81BEF7;
    color:black;
    overflow-wrap: break-word;
    width:300px;
}

#selectInstruction{
  margin-top: 0px;
}

#lineChartIntruction{
  margin-top:50px;
}

.hidden{
  display:None;
}

#projectUpdate{
  margin-left:10px;
}

/* set arrow positioning */
.arrow {
	width: 60px;
	height: 92px;

	left: 42%;
	margin-left: 0px;
	bottom: 15%;
  z-index:999;
}
/* set arrow styles */
.arrow path {
	stroke:#81BEF7;
	stroke-width: 7px;
	fill: transparent;	
	animation: down 2s infinite;
}
/* arrow keyframe animation */
@keyframes down{
0% { opacity:0 }
25% { opacity:1 }
75% { opacity:0 }
100% { opacity:0 }
}
/* arrow animation delay */
.arrow path.a1{	animation-delay:-1s; }
.arrow path.a2{	animation-delay:-.5s; }
.arrow path.a3{	animation-delay:0s; }


.factorText{
  position:flex;
}